@import "_colores";

//Estilos
.pagSecundariaMain {
    display: flex;
    height: 100vh;
    align-items: center;
    flex-direction: column; 
}

.formularioTitulos {
    display: flex;
    height: 25vh;
    margin-top: 7vh;
}

.formularioGeneral {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: map-get($map: $colores, $key: color3);
}

#checkForm {
    display: block;
    margin: 0 auto;
}

#logInFormulario {
    @extend .formularioGeneral;
    height: 200px;
    width: 19vw;
}

.formularioLabels {
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

.estudiosLabels {
    @extend .formularioLabels;
    text-transform: none;
}
// #olvidoPassTitulo {
//     display: flex;
//     height: 25vh;
//     margin-top: 7vh;
// }

#olvidoPassFormulario {
    @extend .formularioGeneral;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    height: 260px;
    width: 19vw;
}

// .olvidoPassLabel {
//     text-transform: capitalize;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     text-align: center;
//     font-weight: bold;
//     text-decoration: underline;
// }


// #registroTitulo {
//     display: flex;
//     height: 25vh;
//     margin-top: 7vh;
//     /*border: 5px solid red;*/
// }

#registroFormulario {
    @extend .formularioGeneral;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    height: 350px;
    width: 19vw;
    /*border: 5px solid blueviolet;*/
}

#contactoTitulo {
    height: 15vh;
}

#contactoFormulario {
    height: 90vh;
    width: 20vw;
}

#domicilioTitulo {
    height: 15vh;
}

#domicilioFormulario {
    height: 100vh;
    width: 30vw;
}

#turnoFormulario {
    height: 90vh;
    width: 20vw;
}

#presupuestoTitulo {
    height: 15vh;
}
#presupuestoFormulario {
    height: 80vh;
    width: 20vw;
}

#muestraFormulario {
    height: 80vh;
    width: 20vw;
}

#muestraTitulo {
    height: 15vh;
}

textarea {
    resize: none;
}

// .botones {}

// .registroLabel {
//     text-transform: capitalize;
//     font-family: Verdana, Geneva, Tahoma, sans-serif;
//     text-align: center;
//     font-weight: bold;
//     text-decoration: underline;
// }